.container{
    margin: 5% 20%;
}

.space{
    margin: 0px 30px
}

.title{
    border-bottom: 1px solid black;
    padding: 2.5px 30px;
}

.img-size{
    width: 400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.puntaje{
    padding: 50% 10px;
    height: 30px;
}

.cont-flex{
    display: flex;
    flex-direction: row;
}

.item-flex{
    margin: 0px 30px;
}

.like-line{
    margin: 0px 3px;
}

.bt-login{
    margin-top: 10px;
    margin-left: 15px;
    width: 150px;
}

.breadcrumb{
    margin-bottom: 10px;
}

@media only screen and (max-width:1445){
    
}

@media only screen and (max-width:  768px){
    .cont-flex{
        flex-direction: column;
    }
    .img-size{
        width: 300px;
    }
    .space{
        margin: 0px 10px;
    }
    .container{
        margin: 5% 5%;
    }
    .bt-login{
        margin-top: 25px;
        margin-left: 0px;
        width: 100%;
    }
}